*{
    /* margin:0;
    padding:0; */
    list-style:none;
    box-sizing:border-box;
    
}

/*Burda axtaris kodlari olacaq*/
.axtaris{
    position:fixed;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    height:800px;
    box-sizing:border-box;
    background:#fff;
    left:-100%;
    z-index:5;
    transition:0.9s;
    

}
.axtaris .times{
   display:flex;
   width:100%;
   height:60px;
   box-sizing:border-box;
   padding:5%  0 0 80% ;
   font-size:40px;
   color:chocolate;
}
.axtaris .times:hover{
   cursor:pointer;
}
.axtaris-input{
    width:75%;
    margin-top:250px;
    text-align:center;
    border-bottom:1px dashed chocolate;
}
.axtaris-input ::placeholder{
    color: chocolate;;
    font-size:40px;
   
}
.axtaris-input input{
    width:100%;
    height:3em;
    text-align:center;
    font-size:25px;
    color:chocolate;
    border:none;
    margin: 0 auto;
}
.axtaris-input input:focus{
    outline:none;
}

/*Burda Header kodlarim baslayir*/
#nav-menu{
    display:flex;
    flex-direction: row;
    position:sticky;
    top:0px;
    z-index:3;
    width:100%;
    height:80px;
    border-bottom:1px solid rgb(190, 184, 185);
    justify-content:space-around;
    float:left;
    background:#F6F6F6;  
}
#nav-menu a{
    color:#CC6600;
}
#menu{
    float:left;
}
#menu ul{
    list-style: none;
}
#menu ul li{
    display:inline-block;
    width:100px;
    height:79px;
    text-align:center;
    line-height:79px;
}
#menu ul li i{
    font-size: 12px;
}
#menu ul li a{
    text-decoration:none;
}
#menu li:nth-child(5) a{
    display:block;
    width:100px;
    height:40px;
    line-height:40px;
    border:1px solid #CC6600;
}
#menu ul li a:hover{
    display:block;
    width:100px;
    height:40px;
    line-height:40px;
    border:1px solid #CC6600;
    
}
#logo{
    display:block;
    height:80px;
    float:left;
    line-height:80px;
}
#logo a{
    font:bold 30px tahoma;
    text-decoration:none;
}
#search{
    display:block;
    font-size:25px;
    height:80px;
    line-height: 80px;  
}

/*--------------------Bars--------------- */
#nav-menu .bars{
    display:none;
    font-size:30px;
    line-height:80px;
    margin-left:15px;
    color:#CC6600;
}
#nav-menu .bars:hover{
   cursor:pointer;
}

/* ---------Buradan About kodlari baslayir-------- */

.about-icon {
    width:100px;
    height:100px;
    line-height:100px;
    background:#E0E0E0;
    color:#404040;
    border-radius:50%;
    margin-bottom: 30px!important;
    font-size:45px;
    transition:all 0.5s;

}

.about-write p{
    color:#A0A0A0;
}
.about-write a{
    text-decoration:none;
    color:#404040;
    transition: all 0.5s;
}
.about-write a:hover{
    color:#FBC65F;
}

.about-icon:hover{
    background:#FBC65F;
    color:#fff;
}
.good-offer{
    background-color:#FBC65F;
}

/*---------Buradan Our-Team kodlari baslayir--------*/
.our-team{
    background: #f0f0ee !important;
}
.meet{
    transition: 0.6s;
    width: 300px !important;
}
.meet:hover{
    color:#FBC65F;
}
.team1-icon i{
    transition: all 0.6s;
}
.team1-icon i:hover{
    color:#FBC65F;
    cursor: pointer;
}

.image11{
    width:90%;
}

/*--------Here watch video codes start-----------*/
.watch-both{
    background-color: #f0f0ee;
}
.left-p1{
    width:300px;
    margin:0 auto;
}
.left-p2{
    color: #606060!important;
}

/*-----------Section5 codes-----------------*/
.section5{
    height:auto;
    background:#001714;
    display: flex;
    flex-direction: row;
    justify-content:center;
    box-sizing:border-box;
    padding:100px 0 0 0;
    margin-top:50px;
}
.acilisvaxti{
    width:25%;
    height:auto;
    text-align: center;
    color:#fff;
}
.hefteici{

    height:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-bottom:1px dashed #606060;
}
.div1, .div2{
   box-sizing:border-box;
   padding:7px 0;
   font:18px sans-serif;
}
.acilisvaxti .p1{
    font:30px oswald;
}
.acilisvaxti .fa-globe{
    font-size: 40px;
    color:#CC6600;
}
.acilisvaxti .dahacox a{
    color:#fff;
}
.acilisvaxti .p2{
    font:18px sans-serif;
}
.dahacox{
    width:120px;
    height:40px;
    margin:0 auto;
    border:1px solid #CC6600;
    border-radius:30px;
    text-align:center;
    line-height:40px;
    margin-top:-20px;
    transition:all 0.7s;
}
.dahacox a{
    text-decoration:none;
    color:black;
}
.dahacox:hover{
    background:#CC6600;
}
.dahacox:hover a{
    color:#fff;
    text-decoration:none;
}
.sosyal{
 
    width:100%;
    height:50px;
    line-height:50px;
}
.sosyal a{
    color:#fff;
    margin-right:20px;    
}

.sosyal .fa-facebook:hover{
    color:#4267B2;
    transition:0.8s;
}
.sosyal .fa-whatsapp:hover{
    color:#0f0;
    transition:0.8s;
}
.sosyal .fa-instagram:hover{
 
    background: linear-gradient( #515bd4, #8134af, #dd2a7b,#feda77,#f58529);
    transition:0.8s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

@media (max-width:1250px){
    #nav-menu .bars{
        display:block;
    }
    #search a{
        font-size:25px;
    }
    .axtaris-input ::placeholder{
        font-size:35px;
    }

    #nav-menu #menu{
        position:absolute;
        top:80px;
        left:-100%;
        width:100%;
        height:300px;
        background:#FFE5CC;

    }
    #nav-menu #menu.show{
        left:0;
    }

    #nav-menu #menu ul li{
        width:100%;
        height:50px;
        line-height:50px;
        margin-left:-15px;
    }
    #nav-menu #menu ul li a{
        color:chocolate;
    }
    #menu li:nth-child(5) a{
    width:100%;
    height:50px;
    line-height:50px;
}
    #menu ul li a:hover{
    width:100%;
    height:50px;
    line-height:50px;
    border:1px solid chocolate;
    }

    .section5{
    flex-direction:column;
    align-items:center;
    height:auto;

}
    .acilisvaxti{
    height:200px;
    margin-bottom:30px;
    width:60%;
}
}

@media (max-width:992px){
    .colvisit{
        margin-bottom: 40px!important;
    }
}

@media (max-width:820px){
    #headerimg{
        background-size:contain;
    }
    #nav-menu{
        height:60px;
    }
    #nav-menu #menu{
        top:60px;
    }
    #logo{
        height:60px;
        line-height: 60px;
    }
    #logo a{
        font:bold 27px tahoma;
    }
    .bars{
         margin-top:-11px;
    }
    .bars i{
        font-size:25px;
    }
    #search{
        height:60px;
        line-height:60px; 
    }
    #search a{
    font-size:22px;
    }

    .axtaris-input ::placeholder {
        font-size:28px;
    }
    .axtaris-input input{
        font-size:22px;
        height: 50px;
    }
}


@media (max-width:768px){
.meet-team{
   margin-bottom: 30px;
}
.acilisvaxti{
    width:90%;
    }
}


